
.query {
    max-width: var(--max-width);
    margin: auto;
}

.query .glassy-container {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10); /* Semi-transparent white background */
    backdrop-filter: blur(50px); /* Glassy blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Slightly transparent border */
    color: whitesmoke;
}

.query .glassy-container h5 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 12px;
}

.query .glassy-container .get-in-touch {
    background-color: var(--secondary-color);
    outline: none;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    color: var(--primary-color);
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}
.query .glassy-container .get-in-touch:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px rgba(11, 207, 131, 0.8);
}

.query .social {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.query .social .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.query .social .social-links img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

/* Styles for extra small devices */
@media (max-width: 576px) {

    .query .glassy-container {
        padding: 20px;
        padding-top: 10px;
        margin-top: 10px;
    }

    .query .glassy-container h5 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .query .glassy-container p {
        margin-top: 10px;
    }

    .query .glassy-container .get-in-touch {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .query .social {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
