
.expectation {
    background-color: var(--primary-color);
    background-image: url("../../assets/expectation-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.expectation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin: 0 auto;
    padding: 50px 20px;
    max-width: var(--max-width);
}

.expectation .expectation-content .expectation-heading {
    font-size: 32px;
    font-weight: 700;
}

.expectation .expectation-content .data-section {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.expectation .expectation-content .data-section .problems {
    width: 40%;
    padding: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent white background */
    backdrop-filter: blur(15px); /* Glassy blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Slightly transparent border */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* More intense shadow for depth */
    background-image: url("../../assets/problem-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.expectation .expectation-content .data-section .problems h6 {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--custom-red-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}
.expectation .expectation-content .data-section .problems h6:hover {
box-shadow: 0 0 5px 2px rgba(255, 61, 61, 0.6), 
            0 0 10px 3px rgba(255, 61, 61, 0.4),
            0 0 15px 4px rgba(255, 61, 61, 0.2);

}

.expectation .expectation-content .data-section .solutions {
    width: 50%;
    padding: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Glassy blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Slightly transparent border */
    background-image: url("../../assets/solution-background.png");
    background-size: cover;
    background-repeat: no-repeeat;
}

.expectation .expectation-content .data-section .solutions h6 {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}
.expectation .expectation-content .data-section .solutions h6:hover {
    box-shadow: 0 0 5px 2px rgba(11, 207, 131, 0.6), 
            0 0 10px 3px rgba(11, 207, 131, 0.4),
            0 0 15px 4px rgba(11, 207, 131, 0.2);

}
