* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
    --primary-color: black;
    --secondary-color: lightgreen;
    --font-size-base: 16px;
    --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

    --max-width: 1200px;
}
