*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Hide scrollbar for Webkit browsers */
*::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";
}

p {
    font-family: "Bricolage Grotesque";
}

:root {
    --primary-color: #121b1c;
    --secondary-color: #0bcf83;
    --ternary-color: #87e468;
    --custom-grey-color: #868686;
    --custom-light-grey-color: #c5c5c5;
    --custom-red-color: #ff3d3d;
    --font-size-base: 16px;
    --font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

    --max-width: 1200px;
}
